In [2]:
import pandas as pd

df_2022 = pd.read_excel('2022_年間売上表.xlsx')
df_2023 = pd.read_excel('2023_年間売上表.xlsx')

df_2022 = df_2022[['商品', '金額（千円）']]
df_2023 = df_2023[['商品', '金額（千円）']]

df_2022['売上年'] = 2022
df_2023['売上年'] = 2023

df = pd.concat([df_2022, df_2023], ignore_index=True)

df = df[['商品', '売上年', '金額（千円）']]

df = df.sort_values(by=['商品', '売上年'])

df

          商品   売上年  金額（千円）
4   アロマキャンドル  2022     900
8   アロマキャンドル  2022     810
17  アロマキャンドル  2023     900
14     コーヒー豆  2023     860
2       セッケン  2022    1300
15      セッケン  2023    1300
1       ハチミツ  2022    1000
5       ハチミツ  2022     300
6       ハチミツ  2022     560
12      ハチミツ  2023    1000
20     フライパン  2023     670
7     ワイングラス  2022     850
18    ワイングラス  2023     850
9         包丁  2022     940
19        包丁  2023     940
10        水筒  2022    1150
13        水筒  2023     250
21        水筒  2023    1150
0         紅茶  2022    1200
3         紅茶  2022     800
11        紅茶  2023    1200
16        紅茶  2023     670

In [3]:
result = (
    df
    .groupby(['売上年', '商品'], as_index=False)['金額（千円）']
    .sum()
)

result

     売上年        商品  金額（千円）
0   2022  アロマキャンドル    1710
1   2022      セッケン    1300
2   2022      ハチミツ    1860
3   2022    ワイングラス     850
4   2022        包丁     940
5   2022        水筒    1150
6   2022        紅茶    2000
7   2023  アロマキャンドル     900
8   2023     コーヒー豆     860
9   2023      セッケン    1300
10  2023      ハチミツ    1000
11  2023     フライパン     670
12  2023    ワイングラス     850
13  2023        包丁     940
14  2023        水筒    1400
15  2023        紅茶    1870

In [4]:
import pandas as pd

result = (
    df
    .groupby(['売上年', '商品'], as_index=False)['金額（千円）']
    .sum()
    .sort_values(['商品', '売上年'])
    .reset_index(drop=True)
)

result

     売上年        商品  金額（千円）
0   2022  アロマキャンドル    1710
1   2023  アロマキャンドル     900
2   2023     コーヒー豆     860
3   2022      セッケン    1300
4   2023      セッケン    1300
5   2022      ハチミツ    1860
6   2023      ハチミツ    1000
7   2023     フライパン     670
8   2022    ワイングラス     850
9   2023    ワイングラス     850
10  2022        包丁     940
11  2023        包丁     940
12  2022        水筒    1150
13  2023        水筒    1400
14  2022        紅茶    2000
15  2023        紅茶    1870

In [5]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import PatternFill

df_2022 = pd.read_excel('2022_年間売上表.xlsx')
df_2023 = pd.read_excel('2023_年間売上表.xlsx')

df_2022.columns = ['売上年', '商品', '金額（千円）']
df_2023.columns = ['売上年', '商品', '金額（千円）']

df = pd.concat([df_2022, df_2023], ignore_index=True)

result = (
    df
    .groupby(['売上年', '商品'], as_index=False)['金額（千円）']
    .sum()
    .sort_values(['商品', '売上年'])
    .reset_index(drop=True)
)

result = result[['商品', '売上年', '金額（千円）']]

file_name = '売上集計表.xlsx'
result.to_excel(file_name, index=False)

wb = load_workbook(file_name)
ws = wb.active

header_fill = PatternFill(
    fill_type='solid',
    start_color='F2F2F2',
    end_color='F2F2F2'
)

for cell in ws[1]:
    cell.fill = header_fill

wb.save(file_name)